<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title th:text="${node.name}"></title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="../static/css/styles.css" th:href="@{css/styles.css}" rel="stylesheet"/>
    </head>
    <body>
        <table>
        <tr>
            <th th:inline="text" colspan="2">[[${node.getName()}]] Settings</th>
        </tr>
        <tr>
            <td><a href="/">Home</a></td>
            <td><a th:href="@{/node(nodeID=${node.getNodeID()})}">Values</a></td>
        </tr>
      </table>
        <div><form action="#" th:action="@{/setnodename}" method="post">
                <p> <input name="nodeID" type="hidden" th:field="*{node.nodeID}"></input>
                    Name:<input name="name" type="text" th:field="*{node.name}"></input>
                    <button type="submit">Set</button>
             </p>
            </form>
            <form action="#" th:action="@{/setupdatefrequency}" method="post">
                <input type="hidden" name="nodeID" th:field="*{node.nodeID}"></input>
                New update frequency:<input type="text" name="frequency"></input>
            <button type="submit">Set</button>
            </form>
            
        </div>
    </body>
</html>
