<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Node</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link href="../static/css/styles.css" th:href="@{css/styles.css}" rel="stylesheet"/>
    </head>
    <body>
      <table>
        <tr>
            <th th:text="${node.getName()}" colspan="2">SensorName</th>
        </tr>
        <tr>
            <td><a href="/">Home</a></td>
            <td><a th:href="@{/nodesettings(nodeID=${node.getNodeID()})}">Settings</a></td>
        </tr>
      </table>
        <table>
          <thead>
            <tr><th th:each="entry: ${valueHistory}" th:text="${entry.key}">Type</th></tr>
          </thead>
          <tbody>
            <tr>
              <td th:each="entry : ${valueHistory}">    
                <div style='height: 300px; overflow: scroll;'>
                <p th:each="sensorValue : ${entry.value.values()}" 
                   th:text="${sensorValue.toString()}"></p>
                </div>
             </td>
            </tr>
          </tbody>
        </table>
    </body>
</html>
